.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__logo img {
  width: 25px;
  margin-right: 0.5rem;
}

.nav__logo-container {
  display: flex;
  align-items: center;
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__link:hover * {
  fill: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

.switch__lang {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

/* show menu */
.show-menu {
  bottom: 0;
}

.new_website-container {
  position: absolute;
  top: 200%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 90%;
}

.new_website-container a {
  color: var(--body-color);
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  background-color: var(--first-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  width: 90%;
  height: 100%;
  padding: 4rem;
  animation: vertical-shaking 2s 4 2s;
}

@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(5px) }
  50% { transform: translateY(-5px) }
  75% { transform: translateY(5px) }
  100% { transform: translateY(0) }
 }

 @media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  .new_website-container {
    top: -150%;  
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .new_website-container a {
    width: 95%;
    font-size: 1.2rem;
  }
}